.square.light {
    -fx-background-color: white;
}

.square.dark {
    -fx-background-color: lightgrey;
}

#my-table .table-column {
    -fx-alignment: CENTER;
}

.nextPlayer{
    -fx-background-color: rgba(77, 180, 54, 0.1) !important;
}