.square.light {
    -fx-background-color: white;
}

.square.dark {
    -fx-background-color: lightgrey;
}

.legal{
    -fx-background-color: rgba(255, 229, 0, 0.72) !important;
}

.square.black_hit{
    -fx-background-color: black;
}

.square.white_hit{
    -fx-background-color: white;
}

.square.dead{
    -fx-background-color: red !important;
}

.square.safe{
    -fx-background-color: blue ;
}